.task__container__add--button{
    background-color: #ff124f;
    height: 40px;
    padding:0 10px;
    border-radius:5px ;
    width: 100%;
    font-size: 16px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    border: none; 
    transition: all 0.5s ease;  
}
.task__container__add--button:hover{
    background-color:#fff ;
    color:#ff124f;
}
